* {
    box-sizing: border-box;
}


h1 {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 3rem;
}

.hello {
   position: relative;
   display: flex;
   justify-content: center;
   height: 750px;
   
}

div1 {
    width: 100px;
    background-color: black;
}

.calleCars{
    position: relative;
    height: 700px;
}

.Cars {
    position: absolute;
    left: 700px;
    top: 200px;
}

.carRed {
    position: absolute;
    left: 700px;
    top: 200px;
}

.btnes {
    display: flex;
    align-items: center;
    
}

.bigDiv {
    background-color: white;
    border: 1px solid red;
    width: 90px;
    height: 30px;
    display: flex;
    justify-content: center;
    margin: 0 auto;
    
}

.btnR {
    width: 30px;
    height: 30px;
    background-color: red;
    
}

.btnA {
    width: 30px;
    height: 30px;
    background-color: yellow;
}

.btnN {
    width: 30px;
    height: 30px;
    background-color: black;

}

.btnR:active {
    transform: translateY(4px);
}

.btnA:active {
    transform: translateY(4px);
}

.btnN:active {
    transform: translateY(4px);
}


