body {
    background-color: aquamarine;
}


div {
    margin-top: 300px;
    width: 100px;
    height: 100px;
    background-color: black;
}



.redd{
    background-color: red;
}

.greenn{
    background-color: green;
}